<div>
  <h3>Select a route for a list of stops</h3>

  <!-- Display an error message if we have one -->
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{errorMessage}}
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Route ID</th>
        <th>Route Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let route of pwtaRoutes" (click)="setSelectedRoute(route)">
        <td>{{route.id}}</td>
        <td>{{route.attributes.long_name}}</td>
      </tr>
    </tbody>
  </table>

  <!-- Display the stops for the selected route -->
  <app-pwta-stops [route]="selectedRoute"></app-pwta-stops>

</div>
