<h3>Select a route for a list of stops</h3>

<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
  {{errorMessage}}
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ROUTE ID</th>
      <th>ROUTE NAME</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of pwtaRoutes" routerLink="../stops/{{record.id}}">
      <td>{{record.id}}</td>
      <td>{{record.attributes.long_name}}</td>
      <td>{{record.attributes.color}}</td>
    </tr>
  </tbody>
</table>
